<div class="container">
										<div class="row">
											<div class="col-sm-8">
												<ul class="footer__navigation">
													
													<!-- <li>
														<a href="#">About</a>
													</li> -->

													<li class="vpf">
													<a href="/courses">Courses</a>
												</li>
												<!-- <li>
													<a href="#">Terms</a>
												</li> -->
												<!-- <li>
													<a href="#">Careers</a>
												</li> -->
												<li>
													<a href="/contact">Contact</a>
												</li>
											</ul>
										</div>
										<div class="col-sm-4 text-right text-center-xs">
											<ul class="social-list">
												<li>
													<a href="https://twitter.com/lambdaschool"><i class="socicon-twitter"></i></a>
												</li>


												<li>
													<a href="https://facebook.com/lambdaschoolcode"><i class="socicon-facebook"></i></a>
												</li>
											</ul>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<a class="type--underline" href="mailto:support@lambdaschool.com">support@lambdaschool.com</a>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="footer__lower">
												<span class="type--fine-print">© Copyright
													<span class="update-year">2017</span> Lambda Inc.</span>
												</div>
											</div>
										</div>
									</div>
								</footer>
						</div>