<footer class="footer-2 text-center-xs bg--white">
									<div class="container">
										<div class="row">
											<div class="col-sm-8">
												<ul class="footer__navigation">
													<li>
														<a href="#">About</a>
													</li><li class="vpf">
													<a href="#">Courses</a>
												</li>
												<li>
													<a href="#">Terms</a>
												</li>
												<li>
													<a href="#">Careers</a>
												</li>
												<li>
													<a href="#">Contact</a>
												</li>
											</ul>
										</div>
										<div class="col-sm-4 text-right text-center-xs">
											<ul class="social-list">
												<li>
													<a href="#"><i class="socicon-twitter"></i></a>
												</li>


												<li>
													<a href="#"><i class="socicon-facebook"></i></a>
												</li>
											</ul>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<a class="type--underline" href="#">support@lambdaschool.com</a>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="footer__lower">
												<span class="type--fine-print">© Copyright
													<span class="update-year">2017</span> Lambda Inc.</span>
												</div>
											</div>
										</div>
									</div>
								</footer>
						</div>


							<script src="assets/js/jquery-2.1.4.min.js"></script>
							<script src="assets/js/owl.carousel.min.js"></script>
							<script src="assets/js/parallax.js"></script>
							<script src="assets/js/scripts.js"></script>
						</body>
						</html>