<!-- BEGIN HEAD -->

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Lambda School - Computer Science Education for Free</title>
	<meta name="description" content="Learn Computer Science online - free until you get a job"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/assets/css/socicon.css" rel="stylesheet" type="text/css" media="all">
	<link href="/assets/css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/assets/css/interface-icons.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/assets/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/assets/css/theme-blue.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/assets/css/custom.css" rel="stylesheet" type="text/css" media="all"/>
	<link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body class="theme--square" data-reveal-selectors="section:not(.masonry):not(:first-of-type):not(.parallax)">
	
<!-- END HEAD -->