<!-- BEGIN NAV -->
	<div class="nav-container">
		<nav>
			<div class="nav-bar nav--absolute nav--transparent bg--dark" data-fixed-at="700">
					<div class="nav-module logo-module left">
						<a href="/">
							<div class="vnu">
								<img alt="logo" class="logo logo-dark" style="width:100px;" src="assets/img/logo-dark.png">
							</div> 
							<div class="vnu">
								<img alt="logo" class="logo logo-light" style="width:100px;" src="assets/img/lambdawhite.png">
							</div>
						</a>
					</div>
					<div class="nav-module menu-module left">
						<ul class="menu">

							<li>
                <a href="/courses">Courses</a>
                <ul>
                	 <li>
                        <a href="/courses">View All Courses</a>
                    </li>
                	<li>
                        <a href="#">Free Mini Code Bootcamp</a>
                    </li>
                    <li>
                        <a href="#">Web Development (3 months)</a>
                    </li>
                    <li>
                        <a href="#">Computer Science (6 months)</a>
                    </li>
                    
                    

                    <li>
                        <a> </a>
                    </li>

                    <li>
                        <a>COMING SOON:</a>
                    </li>

                     

                    <li>
                        <a href="">Machine Learning</a>
                    </li>

                    <li>
                        <a href="">Bioinformatics</a>
                    </li>

                    <li>
                        <a href="">Virtual & Augmented Reality</a>
                    </li>
                    <!-- <li class="dropdown">
                        <a href="#">Dropdown</a>
                        <ul>
                            <li>
                                <a href="#">Single</a>
                            </li>
                        </ul>
                    </li> -->
                </ul>
            </li>

							<li class="vpf"><a href="#">About</a></li>

							<li class="vpf"><a href="#">Blog</a></li>

							<li class="vpf"><a href="#">Contact</a></li>

							<li class="vpf"><a href="#">Apply</a></li>
						</ul>
					</div>
				</div>
			<div class="nav-mobile-toggle visible-sm visible-xs">
				<i class="icon-Align-JustifyAll icon icon--sm"></i>
			</div>
		</nav>
	</div>

<!-- END NAV -->