/***************************
Add your custom styles below
****************************/

.center-text {
  text-align: center !important;
}

.footer-links {
  text-decoration: none;
  display: inline;
}

.footer-links li {
	margin: 0 auto;
	text-align: center;
	display: inline;
	padding: 0px 80px;
}

.true-white {
	background: #fff;
}

section.hidden-xs.bg--secondary {
  padding-top: 75px !important;
}


.no-padding {
	padding-top: 70px !important;
	padding-bottom: 0px !important;
}

.black_btn {
	background: #fff;
	width: 190px;
}

.main_btn {
	border: 1px solid #ffffff !important; 
	background: transparent !important;
	width: 190px;
	text-align:center;
}

.imagebg:not(.image--light) .btn:not(.btn--primary) .green-text {
	color: #428fbb !important;
}

span.btn__text a {
	color: #ffffff !important;
}

div[class*='col-'] > div[class*='col-']:first-child {
	padding-left: 15px;
}

.menu > li a {
	font-size:12px;
}

h6 {
	font-size:.72em;
}

.remove-top-padding {
	padding-top: 0px;
}

.remove-bottom-padding {
	padding-bottom: 0px;
}

.top-padding-20{
	padding-top: 40px;
}

@media all and (max-width: 767px){

.masonry__item {
	width: 100%;
	max-width: 100%;
}

}